/***************************
Images Modules
***************************/
// hexagon weather

.imageContainer{
    height: 26rem;
    width: 16rem;
    margin-right: .3rem;
    margin-left: .3rem;
    // background: rgba(173, 216, 230, 0.281);
    position: relative;
    top: -1.8rem;
    span{
        font-size: .8rem;
        text-transform: uppercase;
    }
    @include extra-small-only {
        width: 16rem;
    }
}
.smallHexagon,
.mediumHexagon,
.largeHexagon{
    @include flex(center, center, null, null);
    // background: url(../images/icons/Hexagon.svg);
    background: url(../images/icons/HexagonBg.svg);
    background-repeat: no-repeat;
}
.smallHexagon{
    height: 6.5rem;
    width: 6.5rem;
    font-size: 1.7rem;
    background-size: 6.5rem 6.5rem;
}
.mediumHexagon{
    height: 9rem;
    width: 9rem;
    font-size: 2.3rem;
    background-size: 9rem 9rem;
}
.largeHexagon{
    height: 12rem;
    width: 12rem;
    font-size: 3.7rem;
    background-size: 12rem 12rem;
}

#hexagonMainTemp{
    position: absolute;
    top: 3rem;
    right: 0rem;
    #temperatureIcon{
        height: 3rem;
        width: auto;
        position: absolute;
        top: 1rem;
    }
}
#hexagonMaxTemp{
    position: absolute;
    top: -2.5rem;
    right: 4.1rem;
}
#hexagonMinTemp{
    position: absolute;
    top: 0.4rem;
    right: 9.3rem;
}
#maxText,
#minText{
    position: absolute;
    top: .8rem;
    left: -.6rem;
    transform: rotate(-59deg);
}
#hexagonWindspeed{
    position: absolute;
    top: 11rem;
    right: 9.3rem;
    #windspeedText{
        position: absolute;
        top: .1rem;
        left: -1.7rem;
        transform: rotate(-60deg);
    }
}
#hexagonUVindex{
    position: absolute;
    top: 14rem;
    right: 4.2rem;
    #UVText{
        position: absolute;
        top: .9rem;
        right: -.2rem;
        transform: rotate(60deg);
    }
}
#hexagonHumidity{
    position: absolute;
    top: 16.9rem;
    right: -.9rem;
    #humidityText{
        position: absolute;
        top: 1.7rem;
        right: -2.4rem;
        transform: rotate(59deg);
    }
    #humidityIcon{
        height: 2rem;
        width: auto;
        position: absolute;
        top: 1rem;
    }
}
#hexagonPollen{
    position: absolute;
    top: 19.7rem;
    right: 3.6rem;
    #pollenText{
        position: absolute;
        bottom: -.6rem;
        left: 2.9rem;
        // transform: rotate(59deg);
    }
}