/***************************
Nav Modules
***************************/
nav{
    padding-top: .5rem;
    padding-bottom: .5rem;
    @include flex(space-between, center, null, null);
    .config{
        img{
            height: 1.8rem;
            width: auto;
        }
    }
}