/***************************
Color Variables
***************************/
$white: rgb(238, 238, 238) !default;
$whiteTransparent: rgba(238, 238, 238, 0.116) !default;
$black: #333 !default;
$blackTransparent: rgba(51, 51, 51, 0.464) !default;
$blackTransparentDarker: rgba(51, 51, 51, 0.664) !default;

$text-primary-color: $white !default;
$text-secondary-color: $black !default;
// $btn-primary: $green !default;
// $btn-primary-text: $white !default;
// $btn-primary-text-hover: $green !default;
$primary-background: $whiteTransparent !default;
$secondary-background: $blackTransparent !default;
$secondary-background-dark: $blackTransparentDarker !default;
// $primary-mask-color: $orange !default;

/***************************
Font Variables
***************************/
@font-face{
    font-family: 'Bowbly';
    src: url('../files/fonts/BowlbyOne-Regular.otf') format('otf');
    font-weight: bolder;
}
@font-face{
    font-family: 'Bevan';
    src: url('../files/fonts/Bevan.ttf') format('ttf');
    font-weight: bolder;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$montserrat: 'Montserrat', sans-serif;
$bowbly: 'Bowbly';
$bevan: 'Bevan';

$heading-font: $montserrat !default;
$text-font: $bowbly !default;
$number-font: $bevan !default;